body{
  background-color: #fef6e3;
}
.title{
  text-align :center;
  color:#001f3f;
  position :absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-diagram-uml{
  color:#001f3f;
  text-align :center;
}
