<%# <div class ="container_diagram">
  <h1>Les différents diagrammes UML</h1>
    <% @diagram.each do |diagram| %>
    <%# <%= link_to "#{diagram.name}", diagram_path(diagram) %>
    <%# <% end %>
<h1> Titre</h1>
