 <div class ="container_diagram">
  <h1>Les différents diagrammes UML</h1>
 <% @diagram.each do |oneDiagram| %>
 <%= oneDiagram["title"] %>
 <%= link_to oneDiagram["title"],:controller => "diagrams",:action => "show",:id => oneDiagram["id"] %>
<% end %>


</div>
