<%# <div class= "container_details_diagram">
  <h1><%= @diagram.name <%= @diagram.description %>
    <%# <div id="liens">
        <%= link_to "Retourner à la liste des diagrammes UML", diagrams_path %>
    <%# </div>
<div> %>
<h1> Titre</h1>
