<div class= "container_details_diagram">
  <h1><%= @diagram.name %> <%= @diagram.description %></h1>
    <div id="liens">
        <%= link_to "Retourner à la liste des diagrammes", diagrams_path %>
    </div>
<div>
