<div id= "container_details_cars">
  <h1><%= @diagram.name %> <%= @car.description %></h1>
    <div id="liens">
        <%= link_to "Retourner à la liste des diagrams", diagrams_path %>
    </div>
<div>
