<div class= "container">


<div class="container">
  <div class= home>
      <h1>Catalogue</h1>
        <p> Vous pouvez retrouver différents diagrammes</p>
          <img class="home-img" src="<%= image_path('blue_font.webp') %>">
  </div>
</div>
