<div id= "container">
 <h1 id="title">Decouvrir les diagrammes UML et Merise</h1>
  <div id="infos_diagram">
    <% @diagram.each do |diagram| %>
    <%= diagram.name %>
<<<<<<< HEAD
    <%= diagram.description %>
=======
>>>>>>> 0d74871dba79e2f62ea084d7f26548b184612e06
    <% end %>
  </div>
</div>
