
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-navbar{
  background-color: #3C2A21;
  color: #D5CEA3;
  font-family: 'Arial';
  text-align: right;
}
.info-navbar{
  color: #D5CEA3;
  font-family: 'Roboto';
  text-align: right;
}


/* ul {
  list-style: none;
  display: flex;
  text-align: right;
}


li {
  margin-right: 100px;
  display: flex;
  text-align: right;
}


li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  text-align: right;
}


li a:hover {
  color: E5E5CB;
  text-align: right;
} */
