
@media (max-width: 900px){
  .container {
    width: 650px;

  }
}

  @media (max-width: 700px){
    .container {
      width: 400px;

    }
  }

    @media (max-width: 450px){
      .container {
        width: 650px;

      }
    }

    .home-img{
    background-image: url("https://www.canva.com/photos/MADGxO0WJ8I-body-of-water-near-mountains-under-starry-night/");
    background-size: cover;
    height: 100vh;
    }
