<%# <div class ="container_merise">
  <h1>Les différents diagrammes merise</h1>
    <% @merise.each do |merise| %>
    <%# <%= link_to "#{merise.name}", merise_path(merise) %>
    <%# <% end %>
<%# </div> %>
<h1> Titre</h1>
