<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name= "viewport" content="width=device_width, initial-scale=1">

    </head>
      <body>
          <nav class="navbar">
            <ul class="navbar-infos">
              <li class="navbar-item">
                <a href="<%= root_path %>" class="navbar-lien">Accueil</a>
                </li>
                    <li class="navbar-item">
                     <a href="<%= diagrams_path %>" class="navbar-lien">Diagrammes UML</a>
                    </li>
                      <li class="navbar-item">
                        <a href="<%= merises_path %>" class="navbar-lien">Diagrammes Merise</a>
                    </li>
            </ul>
          </nav>
                <div class ="container">
                  <div class ="title">
                    <h1> Qu-est-ce qu'un diagramme Merise?</h1>
                  <div>
                    <div class ="info-diagram-merise">
                      <p>La méthode Merise d'analyse et de conception et permet de hiérarchiser les préoccupations et les questions auxquelles répondre lors de la conduite d'un projet sur 3 étapes.</p>
                      <p>Cycle de vie : phases de conception, de réalisation, de maintenance du projet.</p>
                      <p>Cycle de décision : Définition du projet de manière plus détaillée.</p>
                      <p>Cycle d'abstraction : niveaux conceptuels, d’organisation, logique et physique du projet.</p>
                            <h1>Les différents diagrammes Merise</h1>
                            <ul>
                            <li>Le diagramme de flux</li>
                            <li>Le diagramme d'entité-relation</li>
                            <li>Le diagramme de structure de données</li>
                            <li>Le diagramme de navigation</li>
                            <li>Le diagramme de processus</li>
                            <li>Le diagramme d'organisation</li>
                            <li>Le diagramme de flux externe"</li>
                            <li>Le diagramme de flux de données</li>
                            <div>

                      <% @merise.each do |merise| %>
  <!-- Utilisez merise_path avec l'objet Merise et son ID -->
  <%= link_to 'Voir les détails', merise_path(merise) %>
<% end %>





                        <ul>
                      </div>
