<%# <div class= "container_details_merise">
  <h1><%= @merise.name %> <%= @merise.description %></h1>
    <%# <div id="liens">
        <%# <%= link_to "Retourner à la liste des diagrammes Merise", merises_path %>
    <%# </div>
<div>  %>
<h1> Titre</h1>
